# Auto detect text files and perform LF normalization
* text=auto

# Java sources
*.java text diff=java
*.gradle text diff=java
*.properties text

# These files are text and should be normalized (Convert crlf => lf)
*.css text
*.html text
*.java text
*.js text
*.json text
*.properties text
*.txt text
*.xml text
*.yml text

# These files are binary and should be left untouched
*.class binary
*.dll binary
*.ear binary
*.jar binary
*.so binary
*.war binary
